<div class="container-fluid">
  <div class="row">
      <div class="col" style="background-color: rgb(21, 166, 166); ">
          <div class="row-2">
              <div class="col-3"><img src="./assets/tvicon.png" class="img-fluid" alt="Responsive image"
                      style="width: 15%; padding: auto;"></div>
              <div class="col">
                  <h1 style="font-size: larger; font-weight: bold;">TV Series</h1>
              </div>
          </div>
      </div>
  </div>
</div>
<br>
<div class="container-fluid">
  <div class="row justify-content-between">
    <app-serie-list></app-serie-list>
  </div>
</div>
